.body {
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-wrap: wrap;
    margin: 75px auto;
    width:960px;
    height:960px;
    background-color: white;
    overflow: hidden;
}

.grid {
    display: flex;
    flex: auto;
    max-width:480px;
    max-height: 480px;
}

#etch:hover {
    background-color: black;
}