#main {
    width: 384px;
    height: 384px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 75px auto;
}

.grid {
    border: solid 2px black;
    width: 20px;
    height: 20px;
    display: flex;
}

#etch:hover {
    background-color: black;
}